<p class = title>This is quest board</p>
<body>
  {{#if rows.length}}
    {{#each rows}}
      <tr>
        <td>{{this.type}}</td>
        <td>{{this.description}}</td>
        <td>{{this.Q_rank}}</td>
        <td>{{this.description}}</td>
      </tr>
    {{/each}}
  {{else}}
    <p>ur mum gay</p>
</body>
