<h1>This is quest board</h1>
  <table id ="t01" border="1" style="margin: auto;">
    <thead>
      <tr>
        <th>Type</th>
        <th>Description</th>
        <th>Rank</th>
        <th>Post Date</th>
      </tr>
    </thead>
    <tbody>
      {{#if Quests.length}}
        {{#each Quests}}
          <tr >
            <td>{{Type}}</td>
            <td>{{Description}}</td>
            <td>{{Q_rank}}</td>
            <td>{{Post_Date}}</td>
          </tr>
        {{/each}}
      {{else}}
        <h1 style="text-align: center;">ur mum gay</h1>
      {{/if}}
    </tbody>
</table>
